.mail_logo {
  position: absolute;
  width: 6%; 
  top:7.7%;
  right: 11.4%;
  
}

.mail-text-right {
  position: absolute;
  width: 4%; 
  top:11%;
  right: 8%;
  font-size: 125%;
  
}

.tgif_logo  {
  position:static;
  width: 30%;
}

#home_logo{
  width: 20%;
}